/*
==============================
HOME
==============================
*/


.homeBody {
    background-color: #252627;
    margin-bottom: 0rem;
    height: 130vh;
}

.homeContainer {
    width: 100vw;
    height: 30.5vh;
    margin-bottom: 10%;
}

.aboutPic {
    width: 250px;
    height: 250px;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.text h1 {
    color: #fff;
    font-size: 3.5rem;
    cursor: context-menu;
    justify-content: space-between;
    letter-spacing: 20px;
}

.text span {
    display: inline-block;
    font-size: 4rem;
    color: rgb(195, 136, 230);
    font-family: 'Emilys Candy',
        cursive;
    letter-spacing: 5px;
}

span:hover {
    color: #b0daee;
    transition: all .5s;
}

span.m-left {
    margin-left: -3px;
}

.text p {
    letter-spacing: 3px;
    word-spacing: 10px;
    font-size: 1.8rem;
}

.text a:hover {
    color: #fff;
}

.text a::before {
    content: '';
    background-color: #9f82e2;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.text a:hover::before {
    height: 100%;
}

/* make the header letters shake when hoover */
.text span:hover,
.m-left:hover,
.name:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.containerP {
    padding: 0 100px 0 100px;
}

.banner-text {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.banner-text p {
    font-family: 'Emilys Candy', cursive;
    color: #fff;
}

.text-area h1 {
    font-size: 3.5rem;
    cursor: pointer;
    font-family: 'Emilys Candy',
        cursive;
    justify-content: space-between;
    letter-spacing: 12%;
}


.text-area span {
    color: #fff;
    opacity: 0;
    transform: translate(0, -100px) rotate(360deg) scale(0);
    animation: animate 5s forwards;
}

.text-area span {
    display: inline-block;
    color: #a69cbe;

}

.text-area span:nth-of-type(2) {
    animation-delay: 1s;
    color: #cdaac0;
}

.text-area span:nth-of-type(3) {
    animation-delay: 2s;
    color: #e8b7ca;
}

.text-area span:nth-of-type(4) {
    animation-delay: 3s;

}

.text-area span:nth-of-type(5) {
    animation-delay: 4s;
    color: #fed6df;
}

.text-area span:nth-of-type(6) {
    animation-delay: 5s;
    color: #b0daee;
}

.text-area span:nth-of-type(7) {
    animation-delay: 6s;
    color: #a69cbe;
}

.text-area span:nth-of-type(8) {
    animation-delay: 7s;

}

.text-area span:nth-of-type(9) {
    animation-delay: 7s;
    color: #cdaac0;

}

.text-area span:nth-of-type(10) {
    animation-delay: 7s;
    color: #e8b7ca;

}

@keyframes animate {
    30% {
        transform: translate(0, -50px) rotate(180deg) scale(1);
    }

    60% {
        transform: translate(0, 20px) rotate(0deg) scale(0.8s);
    }

    100% {
        transform: translate(0) rotate(0deg) scale(1);
        opacity: 1;
    }
}

main {
    padding-top: 30px;
    padding-bottom: 0%;
}